* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(32,28,22);
    color: rgb(255,163,0);
}

td {
    vertical-align: top;
}

a {
    color: #f4a223; /*rgb(255,163,0);*/
}

#c
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 430px;
  height: 105px;
  font-family: "Myriad Pro", "myriad-pro", "sans-serif";
}

#l {
    float:left;
    font-family: "DIN condensed", "din-condensed-web";
    letter-spacing: 4.5px;
    margin-right: 20px;
    height: 100px;

    text-shadow: 0 0 10px rgb(255,163,0);/*#c61a1a;*/
    /*color: rgb(255,163,0);*/
    /*color: rgb(255,163,0);*/
    color: #f4a223; /*f69907*/
}

#sep {
    width: 2px;
    float: left;
    height: 105px;
    box-shadow: 0 0 10px rgb(255,163,0);
    background-color: #f4a223; /*rgb(255,163,0);*/
    margin-right: 20px;
}

td:first-child {
    padding-right: 20px;
}

#r {
    float: left;
    font-size: 10pt;
    text-shadow: 0 0 10px rgb(255,163,0);/*#c61a1a;*/
    /*color: rgb(255,163,0);*/
    /*color: rgb(255,163,0);*/
    color: #f4a223; /*f69907*/
}