body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img { border: 0; }

.title { 
    text-align: left;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(223, 85, 3);
}

a:visited {
    color: rgb(223, 85, 3);
}

a:hover {
    color: rgb(223, 85, 3);
}

a:active {
    color: rgb(223, 85, 3);
} 

#content, #postamble {
    font-family: "Myriad Pro", "myriad-pro";
    font-size: 12pt;
    width: 35em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#content {
    margin-bottom: 0em;
}

#postamble {
    margin-bottom: 5em;
    margin-top: 1em;
    text-align: center;
}

#preamble .centre {
    width: 35em;
    font-family: "Myriad Pro", "myriad-pro";
    font-style: italic;
    color: #333;
    font-size: 12pt;
    position: relative;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

#preamble .centre p {
    margin: 0;
    font-size: 11pt;
}

p {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-family: "Myriad Pro", "myriad-pro";
    margin-bottom: 0em;
    font-weight: normal;
    line-height: 145%;
    font-size: 12pt;
    color: #333;
}

h3+p, aside+p, .laside+p, .raside+p, p+p {
    margin-top: 1em;
    text-indent: 0em;
}

#content h1, #postamble h1 {
    font-family: "Myriad Pro", "myriad-pro";
    font-weight: bold;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 32pt;
}

h4 {
    font-size: 24pt;
    margin-bottom: 0em;
}

.wide {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.wide div {
    font-size: 12pt;
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
}

h2 {
    color: black;
    position: relative;
    font-family: "Myriad Pro", "myriad-pro";
    font-size: 18pt;
    bottom: 0em;
}

aside * {
    font-style: italic;
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro", "myriad-pro";
    font-size: 10pt;
    text-align: left;
    line-height: normal;
    color: #666;
    width: 11em;
}

aside.laside {
    position: relative;
    float: left;
    left: -11em;
    top: 0.25em;
    height: 0;
    margin: 0;
}

aside.raside {
    position: relative;
    float: right;
    font-style: italic;
    left: +10em;
    top: +0.23em;
    height: 0px !important;
}

svg {
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.outline-2 {
    position: relative;
}

.outline-text-2 {
    position: relative;
}

.post h1 {
    font-size: 18pt;
}

pre {
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "Source Code Pro", "source-code-pro";
    font-size: 10pt;
    color: rgb(3, 85, 223);
    box-shadow: none;
}

pre.scr:before {
    right: 0;
    top: 0;
}

pre.src {
    width: 40em;
    overflow: scroll;
    font-size: 10pt;
}

code {
    font-family: "Source Code Pro", "source-code-pro";
    font-size: 10pt;
    color: rgb(3, 85, 223);
}

#preamble {
    width: 100%;
    /*background-color: #201C16;*/
    padding-top: 4em;
}

#header {
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    font-family: "DIN condensed", "din-condensed-web";
    letter-spacing: 4.5px;
}

#header img {
    top: 0.25em;
}

table {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

thead
{
    font-weight: normal;
    color: #333;
    padding: 10px 8px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

th {
    font-weight: normal;
    padding: 10px 8px;
}

td
{
    color: #333;
    padding: 5px 8px 5px 8px;
}

tbody
{
    color: #333;
    border-bottom: 1px solid #333;
}

blockquote p {
    font-style: italic;
}

@media (max-width: 960px) {
    aside {
	display: none;
    }
}

@media (max-width: 570px) {
    #content, #postamble {
	width: auto;
	margin-left: 2em;
	margin-right: 2em;
    }

    #header {
	width: auto;
    }

    pre.src {
	width: auto;
    }
}

#header a img {
    display: block;
    margin: auto;
}

#content img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

#content aside p img {
    margin: 0;
}

aside figure {
    margin: 0;
}

#